* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

header {
  background-color: #000;
  width: 100%;
  height: 50px;
}
@media screen and (max-width: 330px) {
  header {
    height: 90px;
  }
}
header .container .header {
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 330px) {
  header .container .header {
    flex-wrap: wrap;
  }
}
header .container .header .header_right {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 330px) {
  header .container .header .header_right {
    padding: 8px 0 0 2px;
  }
}
header .container .header .header_right .header_user a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #f6f6f6;
}

.menu {
  width: 100%;
  height: 50px;
}
.menu .container ul {
  list-style: none;
  display: flex;
}
.menu .container ul li {
  margin-right: 30px;
  line-height: 50px;
}
@media screen and (max-width: 330px) {
  .menu .container ul li {
    margin-right: 15px;
  }
}
.menu .container ul li:first-of-type a {
  color: #000;
  font-weight: 400;
  position: relative;
}
@media screen and (max-width: 375px) {
  .menu .container ul li:first-of-type a {
    font-size: 16px;
  }
}
.menu .container ul li:first-of-type a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  left: 0;
  bottom: -10px;
}
.menu .container ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}
@media screen and (max-width: 375px) {
  .menu .container ul li a {
    font-size: 16px;
  }
}
.menu .container ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.menu .container ul li a:hover {
  color: #000;
}
.menu .container ul li a:hover::after {
  width: 100%;
}

.detail {
  padding: 58px 70px;
}
.detail .container .detail_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .detail .container .detail_flex {
    display: block;
  }
}
.detail .container .detail_flex .detail_left {
  width: 30%;
  text-align: center;
}
.detail .container .detail_flex .detail_left img {
  width: 100%;
  padding: 100px 57px;
  background-color: #f8f8f8;
}
@media screen and (max-width: 450px) {
  .detail .container .detail_flex .detail_left img {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 600px) {
  .detail .container .detail_flex .detail_left img {
    padding: 35px 18px;
  }
}
@media screen and (max-width: 1024px) {
  .detail .container .detail_flex .detail_left {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .detail .container .detail_flex .detail_left {
    width: 65%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 450px) {
  .detail .container .detail_flex .detail_left {
    width: 100%;
  }
}
.detail .container .detail_flex .detail_right {
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .detail .container .detail_flex .detail_right {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .detail .container .detail_flex .detail_right {
    width: 100%;
  }
}
.detail .container .detail_flex .detail_right h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 9px;
}
@media screen and (max-width: 375px) {
  .detail .container .detail_flex .detail_right h2 {
    font-size: 24px;
  }
}
.detail .container .detail_flex .detail_right p {
  font-size: 16px;
  margin-bottom: 12px;
}
.detail .container .detail_flex .detail_right .size {
  color: #1ED90E;
  font-weight: 400;
  font-size: 24px;
}
@media screen and (max-width: 375px) {
  .detail .container .detail_flex .detail_right .size {
    font-size: 20px;
  }
}
.detail .container .detail_flex .detail_right ul {
  list-style: none;
  display: flex;
  margin-bottom: 12px;
}
@media screen and (max-width: 600px) {
  .detail .container .detail_flex .detail_right ul {
    flex-wrap: wrap;
  }
}
.detail .container .detail_flex .detail_right ul li {
  margin-right: 15px;
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
  background-color: #dedddc;
}
@media screen and (max-width: 600px) {
  .detail .container .detail_flex .detail_right ul li {
    margin: 0 10px 10px 0;
  }
}
@media screen and (max-width: 375px) {
  .detail .container .detail_flex .detail_right ul li {
    padding: 8px;
    font-size: 20px;
  }
}
.detail .container .detail_flex .detail_right .price {
  font-size: 30px;
  color: rgb(246, 36, 36);
  font-weight: 600;
}
@media screen and (max-width: 375px) {
  .detail .container .detail_flex .detail_right .price {
    font-size: 24px;
  }
}
.detail .container .detail_flex .detail_right div {
  margin-bottom: 12px;
}
.detail .container .detail_flex .detail_right div i {
  padding: 12px;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
}
@media screen and (max-width: 375px) {
  .detail .container .detail_flex .detail_right div i {
    padding: 8px;
    font-size: 20px;
  }
}
.detail .container .detail_flex .detail_right div .num {
  margin: 0 15px;
  font-size: 30px;
}
@media screen and (max-width: 375px) {
  .detail .container .detail_flex .detail_right div .num {
    font-size: 20px;
  }
}
.detail .container .detail_flex .detail_right button {
  padding: 18px 24px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
  font-weight: 500;
  font-size: 24px;
  color: #f6f6f6;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .detail .container .detail_flex .detail_right button {
    padding: 12px 18px;
    font-size: 20px;
  }
}

.product {
  padding: 46px 0 100px;
  background-color: #fffcfc;
}
.product .container h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #000;
  margin-bottom: 50px;
}
@media screen and (max-width: 420px) {
  .product .container h2 {
    font-size: 30px;
  }
}
.product .container .product_list {
  display: grid;
  grid-template-columns: repeat(3, 307px);
  justify-content: center;
  column-gap: 60px;
  row-gap: 40px;
}
@media screen and (max-width: 1120px) {
  .product .container .product_list {
    grid-template-columns: repeat(2, 307px);
  }
}
@media screen and (max-width: 700px) {
  .product .container .product_list {
    grid-template-columns: repeat(1, 307px);
  }
}
@media screen and (max-width: 350px) {
  .product .container .product_list {
    grid-template-columns: repeat(1, 280px);
  }
}
.product .container .product_list .product_item {
  background-color: #f8f8f8;
  text-align: center;
}
.product .container .product_list .product_item img {
  padding-top: 24px;
  width: 80%;
  height: 55%;
}
.product .container .product_list .product_item .item_info {
  text-align: start;
  padding: 0 20px;
  margin-bottom: 15px;
  height: 30%;
}
.product .container .product_list .product_item .item_info h3 {
  font-size: 24px;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
}
.product .container .product_list .product_item .item_info p {
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
}
.product .container .product_list .product_item .item_footer {
  display: flex;
  align-items: center;
  height: 13%;
}
.product .container .product_list .product_item .item_footer a {
  display: inline-block;
  width: 60%;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
  padding: 13px;
  border: none;
  font-size: 24px;
  font-weight: 200;
  background-color: #e1b067;
  color: rgba(0, 0, 0, 0.7);
}
.product .container .product_list .product_item .item_footer a:hover {
  color: #000;
  background-color: #d6b98d;
}
.product .container .product_list .product_item .item_footer p {
  width: 42%;
  text-align: end;
  padding: 13px;
  background-color: #dedddc;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.footer_row-1 {
  background-color: #f8f8f8;
}
.footer_row-1 .container .footer_top {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 375px) {
  .footer_row-1 .container .footer_top {
    display: block;
  }
}
.footer_row-1 .container .footer_top .footer_col-1 {
  width: calc(33.3333333333% - 40px);
}
@media screen and (max-width: 440px) {
  .footer_row-1 .container .footer_top .footer_col-1 {
    width: calc(33.3333333333% - 20px);
  }
}
@media screen and (max-width: 375px) {
  .footer_row-1 .container .footer_top .footer_col-1 {
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer_row-1 .container .footer_top .footer_col-1 h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 375px) {
  .footer_row-1 .container .footer_top .footer_col-1 h3 {
    margin-bottom: 10px;
  }
}
.footer_row-1 .container .footer_top .footer_col-1 ul {
  list-style: none;
}
.footer_row-1 .container .footer_top .footer_col-1 ul li {
  margin-bottom: 4px;
}
.footer_row-1 .container .footer_top .footer_col-2 {
  width: 33.3333333333%;
  border-left: solid 2px #e8e8e8;
  border-right: solid 2px #e8e8e8;
  padding: 0 20px;
}
@media screen and (max-width: 440px) {
  .footer_row-1 .container .footer_top .footer_col-2 {
    width: calc(33.3333333333% - 20px);
    border: none;
    padding: 0;
  }
}
@media screen and (max-width: 375px) {
  .footer_row-1 .container .footer_top .footer_col-2 {
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer_row-1 .container .footer_top .footer_col-2 h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 375px) {
  .footer_row-1 .container .footer_top .footer_col-2 h3 {
    margin-bottom: 10px;
  }
}
.footer_row-1 .container .footer_top .footer_col-2 ul {
  list-style: none;
}
.footer_row-1 .container .footer_top .footer_col-2 ul li {
  margin-bottom: 4px;
}
.footer_row-1 .container .footer_top .footer_col-3 {
  width: calc(33.3333333333% - 5px);
}
@media screen and (max-width: 440px) {
  .footer_row-1 .container .footer_top .footer_col-3 {
    width: calc(33.3333333333% - 20px);
  }
}
@media screen and (max-width: 375px) {
  .footer_row-1 .container .footer_top .footer_col-3 {
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer_row-1 .container .footer_top .footer_col-3 h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 375px) {
  .footer_row-1 .container .footer_top .footer_col-3 h3 {
    margin-bottom: 10px;
  }
}
.footer_row-1 .container .footer_top .footer_col-3 p {
  margin-bottom: 4px;
}
.footer_row-1 .container .footer_top .footer_col-3 a {
  font-size: 16px;
  color: rgb(206, 64, 64);
  text-decoration: none;
}

.footer_row-2 {
  background-color: #dedddc;
}
.footer_row-2 .container .footer_bottom {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 375px) {
  .footer_row-2 .container .footer_bottom {
    display: block;
  }
}
.footer_row-2 .container .footer_bottom .footer_col-4 {
  width: calc(33.3333333333% - 40px);
}
@media screen and (max-width: 440px) {
  .footer_row-2 .container .footer_bottom .footer_col-4 {
    width: calc(33.3333333333% - 20px);
  }
}
@media screen and (max-width: 375px) {
  .footer_row-2 .container .footer_bottom .footer_col-4 {
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer_row-2 .container .footer_bottom .footer_col-4 h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 375px) {
  .footer_row-2 .container .footer_bottom .footer_col-4 h3 {
    margin-bottom: 10px;
  }
}
.footer_row-2 .container .footer_bottom .footer_col-4 p {
  margin-bottom: 4px;
}
.footer_row-2 .container .footer_bottom .footer_col-4 a {
  font-size: 16px;
  color: rgb(206, 64, 64);
  text-decoration: none;
}
.footer_row-2 .container .footer_bottom .footer_col-5 {
  width: calc(33.3333333333% - 0px);
  border-left: solid 2px #d3d3d3;
  border-right: solid 2px #d3d3d3;
  padding: 0 20px;
}
@media screen and (max-width: 440px) {
  .footer_row-2 .container .footer_bottom .footer_col-5 {
    width: calc(33.3333333333% - 20px);
    border: none;
    padding: 0;
  }
}
@media screen and (max-width: 375px) {
  .footer_row-2 .container .footer_bottom .footer_col-5 {
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer_row-2 .container .footer_bottom .footer_col-5 h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 375px) {
  .footer_row-2 .container .footer_bottom .footer_col-5 h3 {
    margin-bottom: 10px;
  }
}
.footer_row-2 .container .footer_bottom .footer_col-5 p {
  margin-bottom: 4px;
}
.footer_row-2 .container .footer_bottom .footer_col-5 a {
  font-size: 16px;
  color: rgb(206, 64, 64);
  text-decoration: none;
}
.footer_row-2 .container .footer_bottom .footer_col-6 {
  width: calc(33.3333333333% - 5px);
}
@media screen and (max-width: 440px) {
  .footer_row-2 .container .footer_bottom .footer_col-6 {
    width: calc(33.3333333333% - 20px);
  }
}
@media screen and (max-width: 375px) {
  .footer_row-2 .container .footer_bottom .footer_col-6 {
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer_row-2 .container .footer_bottom .footer_col-6 h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 375px) {
  .footer_row-2 .container .footer_bottom .footer_col-6 h3 {
    margin-bottom: 10px;
  }
}
.footer_row-2 .container .footer_bottom .footer_col-6 p {
  margin-bottom: 4px;
}
.footer_row-2 .container .footer_bottom .footer_col-6 a {
  font-size: 16px;
  color: rgb(206, 64, 64);
  text-decoration: none;
}

#back-to-top {
  display: inline-block;
  background-color: #f8b653;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  #back-to-top {
    bottom: 15px;
    right: 15px;
  }
}
#back-to-top::after {
  content: "";
  font-weight: 500;
  font-size: 24px;
  color: #f6f6f6;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #dedddc;
}
#back-to-top:active {
  background-color: #f8f8f8;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}