* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.sp-thongbao {
  display: none;
}

.sp-thongbao-hide {
  color: red;
  margin-left: 2px;
  display: inline-block;
  margin-left: 3px;
}

.eye {
  position: relative;
}
.eye .eye__open {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 25px;
}

#top__header {
  background-color: #000000;
  padding: 14px 15px;
}
#top__header .top__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#top__header .top__content .logo__brand {
  margin-top: -8px;
}
#top__header .top__content .logo__brand img {
  width: 100%;
}
#top__header .top__content .shopping ul li {
  display: inline-block;
  margin-right: 2rem;
  list-style-type: none;
}
#top__header .top__content .shopping ul li a {
  color: #F6F6F6;
  font-size: 16px;
  text-decoration: none;
}

#header {
  padding: 15px;
  background-color: #FFFFFF;
}
#header .menu {
  padding: 0 0;
}
#header .menu ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
}
#header .menu ul li {
  margin-right: 2rem;
}
#header .menu ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.7;
}
#header .menu ul li :hover {
  font-weight: 500;
  opacity: 1;
}

#login {
  background-color: #fffcfc;
  padding-top: 30px;
}
#login h2 {
  color: #000;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}
#login .login__content {
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 85px;
}
#login .login__content .form-control {
  border-width: 0 0 5px 0;
  border-color: #111;
  color: #000000;
  background-color: #fffcfc;
  border-radius: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}
#login .login__content .form-control ::placeholder {
  color: #000;
}
#login .login__content .form-control :focus {
  box-shadow: none;
  border-color: #ae18e2;
  transition: all 0.75s;
}
#login .login__content .btn__1 {
  color: #FFFCFC;
  background-color: #AE18E2;
  border-color: #AE18E2;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  padding: 8px 70px;
  border-radius: 10px;
}

#footer .top__footer {
  background-color: #fafafa;
  padding: 30px 0;
}
#footer .top__footer .top__content .col-md-4 {
  border-right: 5px solid #f4f4f4;
}
#footer .top__footer .top__content .col-md-4 h3 {
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
}
#footer .top__footer .top__content .col-md-4 ul li {
  list-style-type: none;
}
#footer .top__footer .top__content .col-md-4 ul li a {
  color: #4d4d4e;
  text-decoration: none;
}
#footer .top__footer .top__content .col-md-4 p {
  color: #4d4d4e;
}
#footer .top__footer .top__content .col-md-4 a {
  color: #de8b87;
  text-decoration: none;
}
#footer .bottom__footer {
  background-color: #ececec;
  padding: 30px 0;
}
#footer .bottom__footer p {
  color: #4d4d4e;
}
#footer .bottom__footer a {
  color: #de8b87;
  text-decoration: none;
}